In [1]:
using Printf
using DataFrames
using CSV
using LinearAlgebra
# using DataStructures

include("RLalgo.jl")

pack_state (generic function with 1 method)

In [2]:
infile = "data/medium.csv"
df = CSV.File(infile) |> DataFrame
# data_mat = Matrix(df);

# df = insertcols!(df, 2, :pos => [extract_state(df.s[i])[1] for i in 1:size(df,1)])
# df = insertcols!(df, 3, :vel => [extract_state(df.s[i])[2] for i in 1:size(df,1)])

# df = insertcols!(df, 7, :pos_ => [extract_state(df.sp[i])[1] for i in 1:size(df,1)])
# df = insertcols!(df, 8, :vel_ => [extract_state(df.sp[i])[2] for i in 1:size(df,1)])

100000Ã—4 DataFrame
    Row â”‚ s      a      r      sp
        â”‚ Int64  Int64  Int64  Int64
â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
      1 â”‚ 25203      1   -225  24703
      2 â”‚ 24703      3    -25  24703
      3 â”‚ 24703      1   -225  24202
      4 â”‚ 24202      1   -225  24202
      5 â”‚ 24202      2   -100  23701
      6 â”‚ 23701      3    -25  23700
      7 â”‚ 23700      1   -225  23699
      8 â”‚ 23699      3    -25  23198
      9 â”‚ 23198      4      0  23697
     10 â”‚ 23697      3    -25  23196
     11 â”‚ 23196      6   -100  23695
   â‹®    â”‚   â‹®      â‹®      â‹®      â‹®
  99991 â”‚ 45157      4      0  45171
  99992 â”‚ 45171      6   -100  46186
  99993 â”‚ 46186      6   -100  46701
  99994 â”‚ 46701      5    -25  46717
  99995 â”‚ 46717      5    -25  46732
  99996 â”‚ 46732      4      0  46747
  99997 â”‚ 46747      5    -25  46263
  99998 â”‚ 46263      5    -25  45777
  99999 â”‚ 45777      3    -25  45291
 100000 â”‚ 25343      1   -225  24720
                   99979 rows omitted

In [3]:
# S = [[pos,vel] for pos in 1:500, vel in 1:100]   # FIXME: need to reshape this 
S = [i for i in 1:50000]
A = collect(1:7)
Î³ = 1
T = NaN
R = NaN
TR = NaN

prob = MDP(Î³,S,A,T,R,TR)

MDP(1, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10  â€¦  49991, 49992, 49993, 49994, 49995, 49996, 49997, 49998, 49999, 50000], [1, 2, 3, 4, 5, 6, 7], NaN, NaN, NaN)

In [4]:
Î± = 0.5
Q = zeros((length(S), length(A)))

model = QLearning(S,A,Î³,Q,Î±)

QLearning([1, 2, 3, 4, 5, 6, 7, 8, 9, 10  â€¦  49991, 49992, 49993, 49994, 49995, 49996, 49997, 49998, 49999, 50000], [1, 2, 3, 4, 5, 6, 7], 1, [0.0 0.0 â€¦ 0.0 0.0; 0.0 0.0 â€¦ 0.0 0.0; â€¦ ; 0.0 0.0 â€¦ 0.0 0.0; 0.0 0.0 â€¦ 0.0 0.0], 0.5)

In [5]:
train_offline_simple(prob, model, df,3)

Progress: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| Time: 0:00:01

In [6]:
# a_opt = [findmax([model.Q(model.Î¸, s, a) for a in A])[2] for s in [[pos,vel] for pos in 1:500, vel in 1:100]]

In [7]:
# model.Î¸

In [8]:
a_opt = [findmax(model.Q[x, :])[2] for x in 1:50000]

50000-element Vector{Int64}:
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 â‹®
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1

In [9]:
file = open("medium.policy", "w")

# Write each element of the vector to the file on a new line
for element in a_opt
    println(file, element)
end

# Close the file
close(file)